src/main/resources/net.finmath.smartcontract.product.xml/smartderivativecontract.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name = "smartderivativecontract">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="uniqueTradeIdentifier" type="xs:string" />
                <xs:element name = "valuation">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name = "artefact">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type = "xs:string" name = "groupId"/>
                                        <xs:element type = "xs:string" name = "artifactId"/>
                                        <xs:element type = "xs:string" name = "version"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "parties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name = "party"  maxOccurs="unbounded" minOccurs="0" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type = "xs:string" name = "name"/>
                                        <xs:element type = "xs:string" name = "id"/>
                                        <xs:element name = "marginAccount">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type = "xs:string" name = "type"/>
                                                    <xs:element type = "xs:float" name = "value"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "penaltyFee">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type = "xs:string" name = "type"/>
                                                    <xs:element type = "xs:float" name = "value"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type = "xs:string" name = "address"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "settlement">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type = "xs:string" name = "settlementDateInitial"/>
                            <xs:element name = "settlementTime">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type = "xs:string" name = "type"/>
                                        <xs:element type = "xs:string" name = "value"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name = "marketdata">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type = "xs:string" name = "provider"/>
                                        <xs:element name="marketdataitems">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "item" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = "xs:string" name = "symbol"  maxOccurs="unbounded" minOccurs="0" />
                                                                <xs:element type = "xs:string" name = "curve"  maxOccurs="unbounded" minOccurs="0" />
                                                                <xs:element type = "xs:string" name = "type"  maxOccurs="unbounded" minOccurs="0" />
                                                                <xs:element type = "xs:string" name = "tenor"  maxOccurs="unbounded" minOccurs="0" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type = "xs:string" name = "receiverPartyID"/>
                <xs:element name = "underlyings">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name = "underlying">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name = "dataDocument">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "trade">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name = "tradeHeader">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name = "partyTradeIdentifier"  maxOccurs="unbounded" minOccurs="0" >
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element  name = "tradeId">
                                                                                            <xs:complexType >
                                                                                                <xs:simpleContent>
                                                                                                    <xs:extension base = "xs:string">
                                                                                                        <xs:attribute type="xs:string" name="tradeIdScheme" use="optional"/>
                                                                                                    </xs:extension>
                                                                                                </xs:simpleContent>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element type = "xs:date" name = "tradeDate"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "swap">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name = "swapStream">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name = "calculationPeriodDates">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element name = "effectiveDate">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type = "xs:date" name = "unadjustedDate"/>
                                                                                                                <xs:element name = "dateAdjustments">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element type = "xs:string" name = "businessDayConvention"/>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                    <xs:element name = "terminationDate">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type = "xs:date" name = "unadjustedDate"/>
                                                                                                                <xs:element name = "dateAdjustments">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element type = "xs:string" name = "businessDayConvention"/>
                                                                                                                            <xs:element name = "businessCenters">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type = "xs:string" name = "businessCenter"/>
                                                                                                                                    </xs:sequence>
                                                                                                                                    <xs:attribute type="xs:string" name="id"/>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                    <xs:element name = "calculationPeriodDatesAdjustments">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type = "xs:string" name = "businessDayConvention"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                    <xs:element name = "calculationPeriodFrequency">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type = "xs:byte" name = "periodMultiplier"/>
                                                                                                                <xs:element type = "xs:string" name = "period"/>
                                                                                                                <xs:element type = "xs:byte" name = "rollConvention"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute type="xs:string" name="id" use="optional"/>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element name = "paymentDates">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element name = "paymentFrequency">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type = "xs:byte" name = "periodMultiplier"/>
                                                                                                                <xs:element type = "xs:string" name = "period"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                    <xs:element type = "xs:string" name = "payRelativeTo"/>
                                                                                                    <xs:element name = "paymentDatesAdjustments">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type = "xs:string" name = "businessDayConvention"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element name = "resetDates">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type = "xs:string" name = "resetRelativeTo"/>
                                                                                                    <xs:element name = "fixingDates">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type = "xs:byte" name = "periodMultiplier"/>
                                                                                                                <xs:element type = "xs:string" name = "period"/>
                                                                                                                <xs:element type = "xs:string" name = "dayType"/>
                                                                                                                <xs:element type = "xs:string" name = "businessDayConvention"/>
                                                                                                                <xs:element name = "businessCenters">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element type = "xs:string" name = "businessCenter"/>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                    <xs:element name = "resetFrequency">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type = "xs:byte" name = "periodMultiplier"/>
                                                                                                                <xs:element type = "xs:string" name = "period"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                    <xs:element name = "resetDatesAdjustments">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type = "xs:string" name = "businessDayConvention"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute type="xs:string" name="id"/>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element name = "calculationPeriodAmount">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element name = "calculation">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element name = "notionalSchedule">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element name = "notionalStepSchedule">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type = "xs:float" name = "initialValue"/>
                                                                                                                                        <xs:element  name = "currency">
                                                                                                                                            <xs:complexType >
                                                                                                                                                <xs:simpleContent>
                                                                                                                                                    <xs:extension base = "xs:string">
                                                                                                                                                        <xs:attribute type="xs:string" name="currencyScheme" use="optional"/>
                                                                                                                                                    </xs:extension>
                                                                                                                                                </xs:simpleContent>
                                                                                                                                            </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                                <xs:element name = "floatingRateCalculation">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element type = "xs:string" name = "floatingRateIndex"/>
                                                                                                                            <xs:element name = "indexTenor">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type = "xs:byte" name = "periodMultiplier"/>
                                                                                                                                        <xs:element type = "xs:string" name = "period"/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                                <xs:element type = "xs:string" name = "dayCountFraction"/>
                                                                                                                <xs:element name = "fixedRateSchedule">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element type = "xs:float" name = "initialValue"/>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="xmlns:xsi"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
